
*.pth

**/*.cpython-311..pyc
*.ipynb_checkpoints/
# Ignore temporary files and directories
__pycache__/
*.pyc.ipynb_checkpoints/

# Ignore data files (adjust as needed)
data/*
*vsix
*.ipynb
*.json
*.log